.home {
	min-height: 100%;
	width: 100%;
}

.home > div {
	margin: 25px 0;
}

.home > div > div {
	padding: 40px 10%;
}

/* HERO */

.hero {
	position: relative;
	display: flex;
}

.hero .imageContainer {
	position: relative;
	margin: auto;
}

.hero > div > div {
	margin: 25px;
}

.hero .introduction p {
	margin-top: 10px;
}

.hero .socialMedia {
	display: flex;
	align-items: center;
}

.hero .socialMedia a {
	margin-left: 18px;
}

/* SKILLS */

.skills{
	width: 100%;
	margin-top: 20px;
}

/* PROJECTS */

.projects {
	overflow: hidden;
}

.projects .intro {
	display: flex;
	width: 100%;
}

.projects .intro img {
	width: 200px;
	margin-left: 20px;
}

.projects .projectList {
	transition: height 700ms ease-in-out;
}

.projects button {
	margin: 50px auto 0 auto;
}

@media screen and (min-width: 1201px) {
	.hero {
		padding-right: 0!important;
	}

	.hero .introduction p {
		padding-right: 10vw;
	}

	.hero .footerHero{
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding-right: 10vw;
	}

	.skills{
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1200px) {
	.home > div > div {
		padding: 40px 4%;
		text-align: center;
	}

	.hero {
		display: block;
	}

	.hero .imageContainer {
		display: grid;
		place-items: center;
	}

	.hero .imageContainer img {
		height: 300px;
	}

	.hero .footerHero{
		display: grid;
		place-items: center;
	}

	.hero .socialMedia {
		justify-content: center;
		margin-top: 10px;
	}

	.projects .intro img {
		display: none;
	}

	.projects .projectList {
		height: auto!important;
	}
}