.project {
	min-height: 100%;
	width: 100%;
}

.project > div {
	margin: 25px 0;
}

.project > div > div {
	padding: 40px 10%;
}

/* INTRO */

.project .intro .preview {
    position: relative;
    display: grid;
    place-items: center;
}

.project .intro .preview .image {
    position: absolute;
    inset: auto 0%;
}

.project .intro .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.project .intro h1 {
   margin-bottom: 11px;
}

/* PROJECT DETAILS */

.project .context > h2 {
	margin-bottom: 30px;
}

.project .infos > div {
	margin-bottom: 25px;
}

/* PROCESS */

.project .process > h2 {
	margin-bottom: 30px;
}

.project .process > div {
	display: flex;
	margin-bottom: 22px;
}

.project .process > div > h4 {
	margin-right: 22px;
}

/* SCREENS */

.project .screens > h2 {
	margin-bottom: 40px;
}

.project .screens > div {
	width: 100%;
}

.project .screens > div > div {
	margin-bottom: 1.5vw;
}

.project .screens img {
	margin-right: 1.5vw;
}

.project .screens > div > div > img:last-child {
	margin-right: 0px;
}

/* MORE PROJECTS LIKE THIS */

.project .moreProjects .skills {
	width: 100%;
	margin-top: 50px;
}

@media screen and (min-width: 1201px) {

	/* INTRO */

	.project .intro {
    	display: flex;
		transform: translateX(-100px);
		width: calc(100% + 100px);
	}

	.project .intro .preview {
		height: 450px;
		width: 450px;
	}

	.project .intro .preview .image {
		height: 450px;
		width: 450px;
	}

	.project .intro .info {
		width: calc(100% - 450px + 100px - 80px);
		margin-left: 80px;
	}

	.project .intro > .info > .web {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	/* DETAILS */

	.project .details {
		display: flex;
		justify-content: space-between;
	}

	.project .context {
		width: 70%;
		margin-right: 60px;
	}

	/* PROCESS */

	.project .process p {
		text-align: justify;
	}

	/* SCREENS */

	.project .screens > div > div {
		display: flex;
	}

	.project .screens img {
		flex: 1;
		width: 0;
	}

	/* MORE PROJECTS LIKE THIS */

	.project .moreProjects .skills {
		display: flex;
		justify-content: space-between;
	}
}

@media screen and (max-width: 1200px) {

	.project > div > div {
		padding: 20px 4%;
		text-align: center;
	}

	/* INTRO */

	.project .intro {
		width: 100%;
	}

	.project .intro .preview {
		height: 250px;
		width: 250px;
		margin: 0 auto;
	}

	.project .intro .preview .image {
		height: 250px;
		width: 250px;
	}

	.project .intro > .info > .web {
		display: grid;
		place-items: center;
		margin-top: 30px;
	}

	.project .intro button {
		margin-bottom: 20px;
	}

	/* DETAILS */

	.project .context {
		margin-bottom: 30px;
	}

	/* PROCESS */

	.project .process p {
		text-align: start;
	}

	.project .screens img {
		width: 100%;
		max-width: 400px;
	}

	/* MORE PROJECTS LIKE THIS */

	.project .moreProjects .skills > div {
		margin-bottom: 30px;
	}

}
