.footer {
    display: flex;
    justify-content: space-between;
}

.footer > div > div {
    margin-top: 50px;
}

.footer > div > div > h3 {
    color: var(--primary-medium);
    margin-bottom: 24px;
}

@media screen and (min-width: 1201px) {

    .footer > div > div > h3 {
        font-size: 40px;
        line-height: 50px;
    }

}

@media screen and (max-width: 1200px) {

    .footer > div{
        width: 100%;
    }

    .footer img {
        display: none;
    }
}