html, body {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
  --white: #FBFBFB;
  --black: #151620;
  --grey: #7B868F;
  --primary-dark: #45392F;
  --primary-medium: #A57E59;
  --primary-light: #F9ECDE;
  --primary-extraLight: #FCF7F1;
  --secondary: #DBB85F;
  --tertiary: #91B5C8;
}

@font-face {
    font-family: 'Rakkas';
    src: url('assets/fonts/rakkas/Rakkas-Regular.eot');
    src: local('Rakkas Regular'), local('Rakkas-Regular'),
        url('assets/fonts/rakkas/Rakkas-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/rakkas/Rakkas-Regular.woff2') format('woff2'),
        url('assets/fonts/rakkas/Rakkas-Regular.woff') format('woff'),
        url('assets/fonts/rakkas/Rakkas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('assets/fonts/questrial/Questrial-Regular.eot');
    src: local('Questrial'), local('Questrial-Regular'),
        url('assets/fonts/questrial/Questrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/questrial/Questrial-Regular.woff2') format('woff2'),
        url('assets/fonts/questrial/Questrial-Regular.woff') format('woff'),
        url('assets/fonts/questrial/Questrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
	font-family: 'Rakkas';
	font-size: 62px;
	line-height: 85px;
	font-weight: normal;
	color: var(--primary-dark);
}

h2{
	font-family: 'Rakkas';
	font-size: 45px;
	line-height: 55px;
	font-weight: normal;
	color: var(--primary-dark);
}

h3 {
	font-family: 'Questrial';
	font-size: 24px;
	line-height: 30px;
	font-weight: normal;
	color: var(--primary-dark);
}

h4 {
	font-family: 'Rakkas';
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: var(--grey);
}

p {
	font-family: 'Questrial';
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: var(--grey);
}

small {
	font-family: 'Questrial';
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: var(--grey);
}

button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	border-radius: 4px;
	background-color: var(--primary-dark);
	color: var(--white);
	font-family: 'Questrial';
	font-size: 16px;
	line-height: 19px;
	font-weight: normal;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: inherit;
	cursor: pointer;
	line-height: 0px;
}

select {
	background-color: transparent;
	border: none;
	font-family: 'Questrial';
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	transform: translateY(-2px);
	outline: 0;
	margin-left: 80px;
}

option {
	background-color: var(--primary-light);
	border: none;
	font-family: 'Questrial';
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;

}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-dark) var(--primary-light);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
  border-radius: 20px;
  border: 2px solid var(--primary-light);
}

#app {
	padding: 24px 8%;
	min-height: 100%;
	background-color: var(--primary-light);
}